[package]
name = "aoc"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = "4.5.53"
fxhash = "0.2.1"
itertools = "0.14.0"
ndarray = "0.17.1"
rayon = "1.11.0"
regex = "1.12.2"
